{
  "semi": false,
  "singleQuote": false,
  "printWidth": 120,
  "trailingComma": "none",
  "arrowParens": "avoid",
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "^(apollo|assets|components|connectors|constants|data|hooks|locales|pages|state|theme|types|utils)(/.+)?$",
    "^[./]"
  ],
  "importOrderSeparation": false,
  "importOrderSortSpecifiers": false
}
